<div fxLayout="row wrap" fxFlex="100">
  <div fxLayout="row wrap" class="upload-header" fxFlex="100">
    <div fxLayout="row wrap" fxLayoutAlign="start" fxFlex="100">
      <div fxFlex="100" appearance="standard" class="header">
        <h3>
          Uploaded Document
          <button class="btn-close">
            <mat-icon svgIcon="close" mat-dialog-close="true"></mat-icon>
          </button>
        </h3>
      </div>
    </div>
  </div>
  <div
    fxLayout="row wrap"
    fxflex="100"
    fxLayoutAlign="center center"
    class="dropzone-container"
  >
    <div class="view-doc">
      <img src="assets/images/prescription.jpg" />
    </div>
  </div>
</div>
