<div class="bg-common">
  <div class="call-header">
    <div fxLayout="row wrap" fxLayoutAlign="start" fxFill fxFlex="1 0 auto">
      <div
        fxFlex="50"
        fxFlex.gt-xs="50"
        appearance="standard"
        ngClass.gt-xs="px-5"
        class="brand-container"
      >
        <ul>
          <li>
            <img
              src="assets/images/logo.svg"
              class="img-responsive telescope-brand"
              alt=""
            />
          </li>
        </ul>
      </div>
      <div
        fxFlex="50"
        fxFlex.gt-xs="50"
        fxLayoutAlign.gt-xs="end center"
        fxLayoutAlign.lt-sm="start center"
        appearance="standard"
        *ngIf="false"
      >
        <div class="call-duration">
          <span>
            <img
              src="assets/images/svg/clock.svg"
              class="img-responsive telescope-brand"
              alt="" /></span
          >Call Duration 00h 52m
        </div>
      </div>
    </div>
  </div>
  <div
    fxLayout="row wrap"
    fxflex="100"
    fxLayoutAlign="center center"
    class="form-outer-container"
  >
    <div
      fxLayout="row wrap"
      fxFlex="350px"
      fxLayoutAlign="center center"
      class="register-container"
    >
      <div class="register-header" fxFlex="100">
        <h3>Verify OTP</h3>
      </div>
      <form
        class="register-form"
        fxFlex="100"
        fxLayout="row wrap"
        #form="ngForm"
      >
        <mat-form-field
          class="form-full-width mt-2"
          fxFlex="100"
          appearance="outline"
        >
          <mat-label>Contact No.</mat-label>
          <input
            type="phone"
            name="phone"
            matInput
            [(ngModel)]="phoneNo"
            pattern="[0-9]{12}"
            [disabled]="true"
            required
            placeholder="Enter phone no."
          />
          <mat-error *ngIf="form.form.controls['phone']?.errors?.pattern">
            Enter valid phone no.
          </mat-error>
        </mat-form-field>
        <ng-container *ngIf="!otpFetched">
          <div appearance="outline" fxFlex="100" class="mt-2">
            <button
              mat-button
              mat-raised-button
              color="primary"
              class="btn-common"
              fxFlex="100"
              (click)="getOtp()"
              [disabled]="!phoneNo"
            >
              Send one-time password
            </button>
          </div>
        </ng-container>
        <ng-container *ngIf="otpFetched">
          <mat-form-field
            class="form-full-width mt-2"
            fxFlex="100"
            appearance="outline"
          >
            <mat-label>OTP</mat-label>
            <input
              type="text"
              name="otp"
              matInput
              [(ngModel)]="otp"
              placeholder="Enter otp"
              required
            />
          </mat-form-field>

          <div appearance="outline" fxFlex="100" class="mt-2">
            <button
              mat-button
              mat-raised-button
              color="primary"
              class="btn-common"
              fxFlex="100"
              (click)="verifyOtp($event)"
              [disabled]="form.invalid"
            >
              Verify OTP
            </button>
          </div>
          <div appearance="outline" fxFlex="100" class="mt-5">
            <button
              mat-button
              mat-raised-button
              color="primary"
              class="btn-common"
              fxFlex="100"
              (click)="uploadDocument()"
              [disabled]="!otpVerfied"
            >
              Upload Documents
            </button>
          </div>
        </ng-container>
      </form>
    </div>
  </div>
</div>
