<div class="h-100" fxFlexFill>
  <div class="call-header">
    <div fxLayout="row wrap" fxLayoutAlign="start" fxFill fxFlex="1 0 auto">
      <div
        fxFlex="100"
        fxFlex.gt-xs="50"
        appearance="standard"
        class="brand-container px-5"
      >
        <img
          src="assets/images/logo.svg"
          class="img-responsive telescope-brand"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="body-container">
    <div
      fxLayout="row wrap"
      fxFlexFill
      fxLayoutAlign="space-evenly center"
      class="inner-bg common-bg"
    >
      <div
        fxFlex="100"
        fxFlex.gt-lg="25"
        fxFlex.gt-md="30"
        fxFlex.gt-sm="40"
        fxFlex.gt-xs="80"
        fxFlexFill
        fxLayoutAlign="center center"
        class="pos-relative"
      >
        <div fxLayout="column" fxLayoutAlign="start" class="w-100">
          <div fxLayout="row" fxLayoutAlign="center center" class="site-logo">
            <img src="assets/images/care-connect.svg" alt="Care Connect" />
          </div>
          <div fxLayout="row" fxLayoutAlign="center center" class="site-title">
            <h1 class="text-center">Thank you for choosing Care Connect !</h1>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center" class="site-title">
            <p>
              "Self-care is giving the world the best of you, instead of what’s
              left of you.” – Katie Reed
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
