/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400;1,500;1,600;1,700&display=swap");
@import "/src/app/theme/styles/breakpoints";
@import "/src/app/theme/styles/variables";
@import "/src/app/theme/styles/theme-styles.scss";

* {
  margin: 0;
  padding: 0;
  color: #5c5c5c;
  font-family: "Poppins", sans-serif;
  font-family: "Lexend", sans-serif;
  font-size: 14px;
}
html,
body {
  background: #f8f9fa;
}
button {
  cursor: pointer;
}
button:focus-visible {
  outline: none !important;
}
.publishing {
  height: 100%;
}
.coller-content,
.device-content {
  .OT_video-poster {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-size: cover !important;
    background-position: center center;
    @include media-breakpoint-down(xxl) {
      width: 40px;
      height: 40px;
    }
    @include media-breakpoint-down(md) {
      width: 30px;
      height: 30px;
    }
  }
}
.user-data {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  width: 150px;
  border-radius: 10px;
  .icon-background {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $white-color;
    border-radius: 5px;
    @include media-breakpoint-down(md) {
      height: 20px;
      width: 20px;
    }
  }
  .username {
    color: $white-color;
    width: calc(100% - 50px);
    text-align: left;
    padding-left: 10px;
  }
}
button.btn-common {
  border-radius: 10px !important;
}
button.btn-outline {
  border-radius: 10px !important;
}
.mat-mdc-outlined-button:not(:disabled) {
  background: transparent !important;
  color: #156778 !important;
  padding: 20px;
  min-width: 130px;
  .mdc-button__label {
    color: #156778 !important;
  }
}
.mat-mdc-raised-button:not(:disabled) {
  background: #156778 !important;
  color: #fff !important;
  padding: 20px;
  min-width: 130px;
  .mdc-button__label {
    color: #fff !important;
  }
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline
  .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline
  .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline
  .mdc-notched-outline__trailing {
  border-width: 1px !important;
  border-color: rgba(0, 0, 0, 0.38) !important;
}
.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
  .mdc-list-item__primary-text,
.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after,
.mat-primary
  .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
  color: #156778 !important;
}
.patient-details,
.transcription-main-container {
  width: 300px;
  background: $white-color;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: -2px 4px 15px 0px #6363631a;
}

.prescription-pop {
  background-color: #feecec;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 3.5px 5.5px 0px #00000029;
  position: fixed;
  right: 40px;
  bottom: 100px;
  max-height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
}

.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: #156778 !important;
}
.mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-color: #156778 !important;
}
.mdc-tab {
  border-radius: 5px !important;
}
.mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs
  > .mat-mdc-tab-header
  .mat-mdc-tab {
  padding-right: 5px !important;
  padding-left: 5px !important;
  border-radius: 5px !important;
  overflow: hidden;
}
.mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs
  > .mat-mdc-tab-header
  .mat-mdc-tab.mdc-tab--active {
  background: #f8f9fa !important;
}
.bg-common {
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
  top: 25px;
}

.mat-expansion-panel {
  border: 1px solid rgba(215, 215, 215, 1);
  border-radius: 5px !important;
  margin-bottom: 10px !important;
  box-shadow: none !important;
}
.mat-expansion-panel-body {
  padding: 0 !important;
}
.mat-expansion-panel-header {
  padding: 0 15px !important;
}
.mat-expansion-indicator::after {
  padding: 4px !important;
}
.mat-expansion-indicator {
  margin-bottom: 5px;
}
