<div fxFlex="100">
  <div
    fxLayout="row wrap"
    fxLayoutAlign="start center"
    fxFlex="100"
    class="prescription-container"
  >
    <div
      fxLayout="row wrap"
      fxLayoutAlign="start center"
      fxFlex="100"
      class="prescription-header"
    >
      <div class="prescription-title">
        <img src="assets/images/warning.svg" />
        <h2>Allergic Prescription</h2>
      </div>
      <button class="close"><mat-icon svgIcon="close"></mat-icon></button>
    </div>
    <div
      fxLayout="row wrap"
      fxLayoutAlign="start"
      fxFlex="100"
      class="prescription-content mt-3"
    >
      <p>
        This is to inform you that the medicine named
        <strong>“Metformin”</strong> contains 40 mg of glucose which is not good
        for the patient’s health because of diabetes.
      </p>
    </div>
  </div>
</div>
